.MyTestArea{
    margin: .5rem auto;
    width: 80%;
   
    
    textarea{
       border-radius: 0px;
       min-height: 50vh;
       max-height: 600px;
       border: rgb(0, 183, 255) solid 1px;
       &.Error{
        border: red solid 1px;
       }
        
    }
    .Error{
        color: red;
        display: flex;
        justify-content: center;
    }
}