@import './../node_modules/sal.js/dist/sal.css';

.App {
  width: 100vw;
  max-width: 100%;
  
  .Typer{
  width: 0ch;
  overflow: hidden;
  animation: 3s write steps(5) infinite;
  border-right: solid 1px;
  }

  .Tests{
    background-color: red;
    width: 100%;
    height: 100vh;
  }
  .Others{
    background-color: blue;
    width: 100%;
    height: 100vh;
  }
  .Contact{
    background-color: pink;
    width: 100%;
    height: 100vh;
  }
  
}

@keyframes write{
  100%, 50%{
    width: 4.5ch;
  }
 
}